@value colorBlue: #aaaaff;
@value colorRed: #ff2222;
@value colorOrange: #dd9922;


.root {
  font-family: sans-serif;
  font-size: 16px;

  display: flex;
  flex-flow: column;

  & * {
    box-sizing: border-box;
  }

  & div {
    display: inherit;
  }

  & > p {
    margin-top: 2em;
  }
}

.scrollContainer {
  position: relative;
}

.container {
  position: relative;
  flex-flow: column;
  overflow-x: auto;
  overflow-y: hidden;
}

.chart {
  position: relative;
  flex-flow: column;
  flex: 1 1 auto;
  height: 400px;
  border: 1px solid #000;
  font-size: 14px;
}

.chart > svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.legend {
  position: absolute;
  top: 10px;
  left: 10px;

  flex-flow: column;

  & > * {
    margin-bottom: 4px;
  }
}
.legendData {
  padding: 4px;
  flex-flow: column;
  background: #eee;

  & > * {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.legendItem {
  cursor: pointer;
  opacity: 0.5;

  &.on {
    opacity: 1;
  }

  & .legendIcon {
    width: 10px;
    margin-right: 10px;
  }
}
.legend_totals {
  composes: legendItem;
  & .legendIcon {
    background: colorOrange;
  }
}
.legend_deaths {
  composes: legendItem;
  & .legendIcon {
    background: colorRed;
  }
}
.legend_growth {
  composes: legendItem;
  & .legendIcon {
    background: colorBlue;
  }
}

.dot {
  fill: colorOrange;
}
.dotDeaths {
  fill: colorRed;
}
.rect {
  fill: colorBlue;
}

.numbers {
  position: absolute;
  top: 0;
  left: 0;

  & > * {
    position: absolute;
    width: 30px;
    margin-left: -15px;
    margin-top: -20px;
    text-align: center;
  }

  & p {
    margin: 0;
    padding: 0;
  }
}

.totals {
  composes: numbers;
}
.growth {
  composes: numbers;
  color: white;

  & > * {
    margin-top: 4px;
  }
}

.dates {
  position: relative;
  padding-top: 4px;
  font-size: 12px;
  height: 4em;

  & > * {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
  }
}
